name: CD pipeline
on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull Docker image
        run: docker pull yeast6532/linux_tweet_app

      - name: Delete Docker container
        run: docker rm -f linux_tweet_app || true

      - name: Run Docker container
        run: docker run -d -p 5000:5000 --name linux_tweet_app yeast6532/linux_tweet_app




