name: CD pipeline
on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull Docker image
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/calculator-app:v1

      - name: Delete Docker container
        run: docker rm -f calculator-app || true

      - name: Run Docker container
        run: docker run -d -p 5000:5000 --name calculator-app ${{ secrets.DOCKERHUB_USERNAME }}/calculator-app:v1

